.tweetBox {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--twitter-bgc);
  padding: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox__input {
  display: flex;
  padding: 20px;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  border: none;
  outline: none;
}

.tweetBoc__tweetBtn {
  background-color: var(--twitter-color) !important;
  border: none !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: white !important;
  border-radius: 30px !important;
  height: 50px !important;
  width: 80px;
  margin-top: 20px !important;
  margin-left: auto !important;
}
