.widgets {
  flex: 0.3;
  padding: 10px 20px;
  overflow-y: scroll;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--twitter-bgc);
  padding: 10px;
  border-radius: 20px;
  margin: 0 20px;
  border-bottom: 1px solid var(--twitter-bgc);
}

.widgets__input > input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--twitter-bgc);
}

.widgets__widget__container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}
